<%- include("header") -%>
<div class="welcome-seciotn">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center vh-100">
            <div>
                <h5>Welcome to the node js world</h5>
                <br/>
                <small>Backend: node.js & mongodb</small>
                <br/>
                <small>Frontend: ejs</small>
                <br/>
                <small>Author: @coderteam</small>

                <div class="" style="margin-top: 20px;">
                    <a href="/users/logout" class="btn btn-outline-primary">Log Out</a>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include("footer") -%>
